body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
  }
  .button {
    background-color: white;
    border: dashed;
    color: black;
    padding: 16px 32px;
    margin: auto;
    width: 250px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
  }
.links-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
      }
