<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>{{ page.title }}</title>
        <meta name="{{ page.description }}" />
        {% feed_meta %}
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
        <link rel="stylesheet" href="/assets/css/custom.css">
    </head>
    <body>
        <header>
            <h1>{{ page.header}}</h1>
            <p>{{ page.description }}</p>

            {% include navigation.html %}
        </header>

        <main>
            {{ content }}
        </main>

        <footer>
            <p>This website was created by Ian Moore.</p>
        </footer>
    </body>
</html>